<% if action_name == 'new' || action_name == 'create' %>
    <% url = url_for controller: :questions, action: :create %>
<% else %>
    <% url = url_for controller: :questions, action: :update, slug: @question.slug %>
<% end %>

<%= form_for @question, url: url do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :theme_id %><br>
    <%= theme_select @question %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
