<%= render 'partials/header' %>
<%= render 'partials/admin_nav' %>

<main>
    <div class="wrapper">
		<h1>Questions du thème "<%= @theme.name %>"</h1>
		<%= link_to 'Retour aux thèmes', {controller: :themes, action: :index}, class: 'back' %>
		<table>
			<tbody>
				<% @questions.each do |question| %>
					<tr>
						<td><%= question.content %></td>
						<td class="actions">
							<%= link_to get_svg(:edit)+'Modifier', {action: :edit, theme_slug: @theme.slug, slug: question.slug}, title: 'Modifier' %>
							<%= link_to get_svg(:list)+'Liste des articles', {controller: :articles, action: :index, theme_slug: @theme.slug, question_slug: question.slug}, title: 'Liste des articles' %>
						</td>
					</tr>
				<% end %>
                <tr>
                    <td colspan="2" class="new">
                        <%= link_to 'Nouvelle question', controller: :questions, action: :new %>
                    </td>
                </tr>
			</tbody>
		</table>
    </div>
</main>
