<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field search" id="search-question">
      <%= f.label :question_id %><br>
      <%= text_field_tag 'question[search]', @article.question == nil ? '' : @article.question.content %>
      <%= f.hidden_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= defer_routes do |r| %>
	<% defer :search_question_path, url_for(controller: :questions, action: :search, format: :json) %>
<% end %>
