<%= render 'partials/header' %>

<main>
    <div class="wrapper">
		<h1>Liste des articles</h1>
		<%= link_to "Retour aux questions du thème #{@theme.name}", {controller: :questions, action: :index, theme_slug: @theme.slug, slug: @question.slug}, class: 'back' %>

		<table>

			<tbody>
				<% @articles.each do |article| %>
					<tr>
						<td>
							<%= long_date article.created_at %>
						</td>
						<td class="actions">
							<%= link_to get_svg(:edit)+'Modifier', {controller: :articles, action: :edit, theme_slug: @theme.slug, question_slug: @question.slug, id: article.id}, title: 'Modifier' %>
						</td>
					</tr>
				<% end %>
                <tr>
                    <td colspan="2" class="new">
                        <%= link_to 'Nouvel article', controller: :articles, action: :new %>
                    </td>
                </tr>
			</tbody>
		</table>
    </div>
</main>
