<%= render 'partials/header' %>
<%= render 'partials/admin_nav' %>

<main>
    <div class="wrapper">
		<h1>Listing Themes</h1>

		<table>
			<tbody>
				<% @themes.each do |theme| %>
					<tr>
						<td><%= theme.name %></td>
						<td>
							<%= link_to 'Modifier', action: :edit, slug: theme.slug %>
						</td>
						<td>
							<%= link_to 'Questions', controller: :questions, action: :index, theme_slug: theme.slug %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
    </div>
</main>
