<%= render 'partials/header' %>
<%= render 'partials/admin_nav' %>

<main>
    <div class="wrapper">
		<h1>Thèmes</h1>

		<table>
			<tbody>
				<% @themes.each do |theme| %>
					<tr>
						<td><%= theme.name %></td>
						<td class="actions">
							<%= link_to get_svg(:edit)+'Modifier', {action: :edit, slug: theme.slug}, title: 'Modifier' %>
							<%= link_to get_svg(:list)+'Liste des questions', {controller: :questions, action: :index, theme_slug: theme.slug}, title: 'Liste des questions' %>
						</td>
					</tr>
				<% end %>
                <tr>
                    <td colspan="2" class="new">
                        <%= link_to 'Nouveau thème', controller: :themes, action: :new %>
                    </td>
                </tr>
			</tbody>
		</table>
    </div>
</main>
