<%= render 'partials/header' %>

<main>
	<div class="theme" style="<%= theme_picture @theme, :large %>">
		<div class="overlay" style="<%= theme_gradient @theme %>">
			<div class="wrapper">
				<h1><%= @theme.name %></h1>
				<div class="field search" id="search-question">
					<input type="text" placeholder="Rechercher une question"/>
				</div>
			</div>
		</div>
	</div>
	<h2>Dernières questions</h2>
	<nav class="questions wrapper">
		<% @theme.someQuestions.each do |question| %>
			<div>
				<%= link_to question.content, {controller: :questions, action: :show, slug: question.slug, theme_slug: @theme.slug}, {class: :question} %>
			</div>
		<% end %>
    </div>
</main>

<script type="text/javascript">
	var theme = {
		color: '<%= @theme.color %>'
	};
</script>

<%= defer_routes do %>
	<% defer :question, controller: :questions, action: :show, theme_slug: @theme.slug, js_params: [:slug] %>
	<% defer :search_questions, controller: :questions, action: :search, theme_slug: @theme.slug, format: :json %>
<% end %>
