<nav class="admin-nav">
	<div class="wrapper">
		<%= admin_nav_item 'Thèmes', controller: :themes, action: :index %>
		<%= admin_nav_item 'Questions', controller: :questions, action: :new %>
		<%= admin_nav_item 'Articles', controller: :articles, action: :new %>
		<%= admin_nav_item 'Utilisateurs', controller: :users, action: :index %>
		<%= admin_nav_item 'Déconnexion', controller: :sessions, action: :destroy %>
	</div>
</nav>
