<!DOCTYPE html>
<html>
    <head>
        <title>Spinkop<%= ' - ' + yield(:title) if content_for?(:title) %></title>
        <%= current_stylesheet %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <header>
            <div class="wrapper">
                <nav>
                    <%= link_to 'Accueil', controller: 'pages', action: 'home' %>
                    <%= link_to 'Thèmes', :themes %>
                    <%= link_to 'Questions', :questions %>
                    <%= link_to 'Articles', :articles %>
                </nav>
            </div>
        </header>

        <% if notice != nil %>
            <div class="notice wrapper">
                <p><%= notice %></p>
            </div>
        <% end %>

        <%= yield %>

        <%= current_javascript %>
    </body>
</html>
